<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li><a routerLink="/" class="nav-link">{{ 'HEADER.HOME' | translate}}</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn() && !loginService.isTeacherLoggedIn()" routerLink="/register" class="nav-link">{{ 'HEADER.REGISTRATION' | translate}}</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn() && !loginService.isTeacherLoggedIn()" routerLink="/login" class="nav-link">{{ 'HEADER.LOGIN' | translate}}</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn() || loginService.isTeacherLoggedIn()" routerLink="/lectures" class="nav-link">{{ 'HEADER.ALLLECTURES' | translate}}</a></li>
      <li><a *ngIf="loginService.isTeacherLoggedIn()" routerLink="/mylectures" class="nav-link">{{ 'HEADER.LECTURES' | translate}}</a></li>
      <li><a routerLink="/about-us" class="nav-link">{{ 'HEADER.ABOUT_US' | translate}}</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn() || loginService.isTeacherLoggedIn()" routerLink="/logout" class="nav-link">{{ 'HEADER.LOG_OUT' | translate}}</a> </li>
    </ul>
    <select #langSelect (change)="translate.use(langSelect.value)" (click)="saveLang(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </nav>
</header>

