<div style="text-align: center; margin-top: 15%; font-size: 22px">
   <div>LOGIN</div>
   <input #login type="text" name="login"/>

   <div>PASSWORD</div>
   <input #password type="text" name="password"/>

   <div>NAME</div>
   <input #name type="text" name="name"/>

   <div>LASTNAME</div>
   <input #lastname type="text" name="lastname"/>

   <div>AGE</div>
   <input #age type="number" name="age"/>

   <div>UNIVERSITY</div>
   <input #university type="number" name="university" required maxlength="1"/>

  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let university of universities">
          <button ngbDropdownItem>{{university.name}} - {{university.address}}</button>
        </div>
      </div>
    </div>
  </div>

  <br/>
   <button (click)="saveUser(login.value, password.value, name.value, lastname.value, age.value, university.value,'1')">Save</button>
</div>
