<div style="text-align: center; margin-top: 15%; font-size: 22px">
   <div>LOGIN</div>
   <input #login type="text" name="login" required maxlength="12"/>

   <div>PASSWORD</div>
   <input #password type="text" name="password" required maxlength="24"/>

   <div>NAME</div>
   <input #name type="text" name="name" required maxlength="12"/>

   <div>LASTNAME</div>
   <input #lastname type="text" name="lastname" required maxlength="16"/>

   <div>AGE</div>
   <input #age type="number" name="age" required min="16" max="30" />

  <div>UNIVERSITY</div>
  <select [(ngModel)]="value">
    <option *ngFor="let university of universities" [ngValue]="university">
      {{university.name}}</option>
  </select>

  <br/>
   <button (click)="saveUser(login.value, password.value, name.value, lastname.value, age.value,'1')">REGISTER</button>
</div>
