<button class="btn btn-outline-primary mb-2 mr-2" (click)="openModal(longContent)">{{ 'ALL_LECTURES_PAGE.ADD' | translate }}</button>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ALL_LECTURES_PAGE.MODAL_TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>{{ 'ALL_LECTURES_PAGE.TITLE' | translate }}
      <input #title type="text"/>
    </div>
    <div>{{ 'ALL_LECTURES_PAGE.LESSON' | translate }}
      <input #name type="text"/>
    </div>
    <div>{{ 'ALL_LECTURES_PAGE.DESCRIPTION' | translate }}
      <input #description type="text"/>
    </div>
    {{ 'ALL_LECTURES_PAGE.TEACHER' | translate }}
    <select #element [(ngModel)]="value" formControlName="university">
      <option *ngFor="let teacher of teachers" [value]="teacher.name">
        {{teacher.name}}</option>
    </select>
    <br/>
    <button type="button" class="btn btn-light" (click)="addLecture(description.value, name.value, title.value, element.value); modal.close('Close click')">{{ 'ALL_LECTURES_PAGE.ADD' | translate }}</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{{ 'TEACHER_LECTURES_PAGE.TITLE' | translate }}</th>
    <th scope="col">{{ 'TEACHER_LECTURES_PAGE.LESSON' | translate }}</th>
    <th scope="col">{{ 'TEACHER_LECTURES_PAGE.DESCRIPTION' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lecture of lectures; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <a class="singleLecture" (click)="toLecture(lecture.id)">{{ lecture.title }}</a>
    </td>
    <td>{{ lecture.name }}</td>
    <td>{{ lecture.description }}</td>
  </tr>
  </tbody>
</table>
