<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Lesson</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lecture of lectures; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <a class="singleLecture" (click)="toLecture(lecture.id)">{{ lecture.title }}</a>
    </td>
    <td>{{ lecture.name }}</td>
    <td>{{ lecture.description }}</td>
  </tr>
  </tbody>
</table>
